# Running Data Lake using Sparks

Within this exercise, I will be showing you how easy it is to use Spark to process the data from S3, wrangle the data using Spark and load it back to an S3 bucket by using a partition. The great thing about this process is the fact that the data is not living in a database, instead, it is within an S3 bucket.

## Step 1: Import the necessary libraries such as pyspark, configparser, and os

In [1]:
import configparser
from datetime import datetime
import os
import pyspark.sql.functions as f
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth as day, hour, weekofyear as week, dayofweek as weekday, date_format
from pyspark.sql.types import StructType as ST, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Date, StringType as Str, LongType as Lng, TimestampType as Tst

config = configparser.ConfigParser()
config.read_file(open('dl.cfg'))

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.5") \
        .getOrCreate()
    return spark

spark = create_spark_session()

## Step 2: Set up the Log Data and Song Data Schemas

Within this process, I set up the schema and the data types for each of the column. This will ensure that everything will load up properly with the correct data types.

In [3]:
logSchema = ST([
 Fld('artist', Str()),
 Fld('auth', Str()),
 Fld('firstName', Str()),
 Fld('gender', Str()),
 Fld('itemInSession', Lng()),
 Fld('lastName', Str()),
 Fld('length', Dbl()),
 Fld('level', Str()),
 Fld('location', Str()),
 Fld('method', Str()),
 Fld('page', Str()),
 Fld('registration', Dbl()),
 Fld('sessionId', Lng()),
 Fld('song', Str()),
 Fld('status', Lng()),
 Fld('ts', Lng()),
 Fld('userAgent', Str()),
 Fld('userId', Str())
])

songSchema = ST([
    Fld("num_songs",Int()),
    Fld("artist_id",Str()),
    Fld("artist_latitude",Dbl()),
    Fld("artist_longitude",Dbl()),
    Fld("artist_location",Str()),
    Fld("artist_name",Str()),
    Fld("song_id",Str()),
    Fld("title",Str()),
    Fld("duration",Dbl()),
    Fld("year",Int())
])

# Step 3: Start the data ingestions

Here, we will import all of the json files. For this exercise, we will import the data locally instead of the S3. Reason being is because it took quite awhile to finish, while the local is a whole lot faster. Go ahead and uncomment some of the line to try to download some of the data from several different options (S3, Local with small songs data, or Local with all of the songs data).

In [5]:
# UNCOMMENT BELOW FOR LOADING FROM S3 ALL SONGS DATA
# raw_song_df = spark.read.json('s3a://udacity-dend/song-data', songSchema)

# UNCOMMENT BELOW FOR LOADING FROM LOCAL ALL SONGS DATA
# raw_song_df = spark.read.json('/home/workspace/data/Songs_Data/*.json', songSchema)

# UNCOMMENT BELOW FOR LOADING FROM LOCAL SMALL SONGS DATA
raw_song_df = spark.read.json('/home/workspace/data/song_data/*/*/*/*.json', songSchema)


# UNCOMMENT BELOW FOR LOADING FROM S3 ALL LOG DATA
# raw_log_df = spark.read.json('s3a://udacity-dend/log-data', logSchema)

# UNCOMMENT BELOW FOR LOADING FROM LOCAL SMALL LOG DATA
raw_log_df = spark.read.json('/home/workspace/data/log_data', logSchema)


# Let's verify that the data came in by checking the number of rows
count_songs = raw_song_df.count()
count_logs = raw_log_df.count()

print(count_songs, ' ', count_logs)

71   8056

## Step 4a: Using raw_song_df data to create songs_table and artists_table

Below, we will be creating the songs_table and artists_table by using raw_song_df that we have created earlier before this step

In [6]:
songs_table = raw_song_df.select(raw_song_df.song_id, \
                                 raw_song_df.title, \
                                 raw_song_df.artist_id, \
                                 raw_song_df.year.cast(Int()), \
                                 raw_song_df.duration.cast(Dbl()))

artists_table = raw_song_df.select(raw_song_df.artist_id , \
                                  raw_song_df.artist_latitude.alias('latitude'), \
                                  raw_song_df.artist_location.alias('location'), \
                                  raw_song_df.artist_longitude.alias('longitude'), \
                                  raw_song_df.artist_name.alias('name')).dropDuplicates(['artist_id','name'])

## Step 4b: Using raw_log_df data to create users_table, time_table, and songplays_table

Below, we will be creating the users_table, time_table, and songplays_table by using raw_log_df that we have created earlier before this step

In [7]:
# We'll be filtering the raw_log_df data frame to only include rows and columns where the page shows 'NextSong'
df_l = raw_log_df.where(raw_log_df.page == 'NextSong')

# During this phase, we will convert the 'ts' column to a timestamp column type and convert the epoch time 
# by using pyspark function called to_timestamp
df_l = df_l.withColumn('ts',f.to_timestamp(df_l.ts / 1000).cast(Tst()))

# Once the code above completed, we will now join df_l and the raw_song_df to create the rest of the tables
j_tbl = df_l.join(raw_song_df, [raw_song_df.title == df_l.song, df_l.artist == raw_song_df.artist_name])

users_table = df_l.select(df_l.userId.alias('user_id').cast(Int()), \
                          df_l.firstName.alias('first_name'), \
                          df_l.lastName.alias('last_name'), \
                          df_l.gender, \
                          df_l.level).dropDuplicates(['user_id'])

time_table = df_l.select(df_l.ts.alias('start_time'), \
                        hour('ts').alias('hour'), \
                        day('ts').alias('day'), \
                        week('ts').alias('week'), \
                        month('ts').alias('month'), \
                        year('ts').alias('year'), \
                        weekday('ts').alias('weekday')).distinct()

songplays_table = j_tbl.select(f.monotonically_increasing_id().alias('songplay_id'), \
                               j_tbl.ts.alias('start_time'), \
                               year(j_tbl.ts).alias('year'), \
                               month(j_tbl.ts).alias('month'), \
                               j_tbl.userId.alias('user_id').cast(Int()), \
                               j_tbl.level, \
                               j_tbl.song_id, \
                               j_tbl.artist_id, \
                               j_tbl.sessionId.alias('session_id').cast(Int()), \
                               j_tbl.artist_location.alias('location'), \
                               j_tbl.userAgent.alias('user_agent'))

## Step 5: Printing Schema and the data for each of the tables that we've created

In [8]:
songplays_table.printSchema()
songplays_table.limit(2).toPandas()

root
 |-- songplay_id: long (nullable = false)
 |-- start_time: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- session_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)

,songplay_id,start_time,year,month,user_id,level,song_id,artist_id,session_id,location,user_agent
0,0,2018-11-21 21:56:47.796,2018,11,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,Dubai UAE,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."

In [9]:
users_table.printSchema()
users_table.limit(2).toPandas()

root
 |-- user_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

   user_id first_name last_name gender level
0       85    Kinsley     Young      F  paid
1       65      Amiya  Davidson      F  paid

In [10]:
artists_table.printSchema()
artists_table.limit(2).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- location: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)

,artist_id,latitude,location,longitude,name
0,ARB29H41187B98F0EF,41.88415,Chicago,-87.63241,Terry Callier
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran)

In [11]:
songs_table.printSchema()
songs_table.limit(2).toPandas()

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- duration: double (nullable = true)

,song_id,title,artist_id,year,duration
0,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,ARDR4AC1187FB371A1,0,511.16363
1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),AREBBGV1187FB523D2,0,173.66159

In [12]:
time_table.printSchema()
time_table.limit(2).toPandas()

root
 |-- start_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

               start_time  hour  day  week  month  year  weekday
0 2018-11-15 14:09:23.796    14   15    46     11  2018        5
1 2018-11-15 15:24:07.796    15   15    46     11  2018        5

## Step 6: Saving the files to Parquet

Line 13 - 17 shows you how we can save all of the files as parquet, partition them where it is necessary, and load them back to S3

In [13]:
songplays_table.write.mode('overwrite').partitionBy('year','month').parquet('s3a://result-dan-udacity-bucket/Data/songplays')

In [14]:
users_table.write.mode('overwrite').parquet('s3a://result-dan-udacity-bucket/Data/users')

In [15]:
artists_table.write.mode('overwrite').parquet('s3a://result-dan-udacity-bucket/Data/artist')

In [16]:
songs_table.write.mode('overwrite').partitionBy('year','artist_id').parquet('s3a://result-dan-udacity-bucket/Data/songs')

In [17]:
time_table.write.mode('overwrite').partitionBy('year','month').parquet('s3a://result-dan-udacity-bucket/Data/time')

# Verifying data

The last process is to show that the files are loaded and can be read via spark in this notebook

In [22]:
songplays_p = spark.read.parquet('s3a://result-dan-udacity-bucket/Data/songplays')

In [23]:
songplays_p.toPandas()

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent,year,month
0,0,2018-11-21 21:56:47.796,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,Dubai UAE,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",2018,11

In [24]:
songs_p = spark.read.parquet('s3a://result-dan-udacity-bucket/Data/songs')

In [25]:
songs_p.toPandas()

,song_id,title,duration,year,artist_id
0,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,43.36281,2000,ARPBNLO1187FB3D52F
1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,186.48771,2005,ARDNS031187B9924F0
2,SODREIN12A58A7F2E5,A Whiter Shade Of Pale (Live @ Fillmore West),326.00771,0,ARLTWXK1187FB5A3F8
3,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),267.70240,0,ARKFYS91187B98E58F
4,SOWQTQZ12A58A7B63E,Streets On Fire (Explicit Album Version),279.97995,0,ARPFHN61187FB575F6
5,SOUDSGM12AC9618304,Insatiable (Instrumental Version),266.39628,0,ARNTLGG11E2835DDB9
6,SOPEGZN12AB0181B3D,Get Your Head Stuck On Your Neck,45.66159,0,AREDL271187FB40F44
7,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,511.16363,0,ARDR4AC1187FB371A1
8,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,207.77751,2004,ARMAC4T1187FB3FA4C
9,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),173.66159,0,AREBBGV1187FB523D2
10,SOBLGCN12AB0183212,James (Hold The Ladder Steady),124.86485,1985,AR47JEX1187B995D81
11,SOFFKZS12AB017F194,A Higher Place (Album Version),236.17261,1994,ARBEBBY1187B9B43DB
12,SOBKWDJ12A8C13B2F3,Wild Rose (Back 2 Basics Mix),230.71302,0,AR36F9J1187FB406F1
13,SOBBXLX12A58A79DDA,Erica (2005 Digital Remaster),138.63138,0,AREDBBQ1187B98AFF5
14,SONWXQJ12A8C134D94,The Ballad Of Sleeping Beauty,305.16200,1994,ARNF6401187FB57032
15,SOGNCJP12A58A80271,Do You Finally Need A Friend,342.56934,1972,ARB29H41187B98F0EF
16,SOTCKKY12AB018A141,Sonnerie lalaleulé hi houuu,29.54404,0,ARGSAFR1269FB35070
17,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),407.37914,0,ARNNKDK1187B98BBD5
18,SOGXHEG12AB018653E,It Makes No Difference Now,133.32853,1992,AR0RCMP1187FB3F427
19,SOWTBJW12AC468AC6E,Broken-Down Merry-Go-Round,151.84934,0,ARQGYP71187FB44566
20,SOKEJEJ12A8C13E0D0,The Urgency (LP Version),245.21098,0,ARC43071187B990240
21,SOMVWWT12A58A7AE05,Knocked Out Of The Park,183.17016,0,ARQ9BO41187FB5CF1F
22,SOBONFF12A6D4F84D8,Tonight Will Be Alright,307.38240,1986,ARIK43K1187B9AE54C
23,SOLYIBD12A8C135045,Music is what we love,261.51138,0,AR051KA1187B98B2FF
24,SOMJBYD12A6D4F8557,Keepin It Real (Skit),114.78159,0,ARD0S291187B9B7BF5
25,SOPSWQW12A6D4F8781,Made Like This (Live),225.09669,0,ARGIWFO1187B9B55B7
26,SODUJBS12A8C132150,Wessex Loses a Bride,111.62077,0,ARI2JSK1187FB496EF
27,SOTTDKS12AB018D69B,It Wont Be Christmas,241.47546,0,ARMBR4Y1187B9990EB
28,SOILPQQ12AB017E82A,Sohna Nee Sohna Data,599.24853,0,AR1ZHYZ1187FB3C717
29,SOVYKGO12AB0187199,Crazy Mixed Up World,156.39465,1961,ARH4Z031187B9A71F2
...,...,...,...,...,...
41,SOPVXLX12A8C1402D5,Larger Than Life,236.25098,1999,AR3JMC51187B9AE49D
42,SONHOTT12A8C13493C,Something Girls,233.40363,1982,AR7G5I41187FB4CE6C
43,SOZHPGD12A8C1394FE,Baby Come To Me,236.93016,0,AR9AWNF1187B9AB0B4
44,SOQHXMF12AB0182363,Young Boy Blues,218.77506,0,ARGSJW91187B9B1D6B
45,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0,ARKRRTF1187B9984DA
46,SOYTPEP12AB0180E7B,Twist and Shout,164.80608,1964,ARAJPHH1187FB5566A
47,SOZVMJI12AB01808AF,Synthetic Dream,165.69424,0,ARNPAGP1241B9C7FD4
48,SOZCTXZ12AB0182364,Setanta matins,269.58322,0,AR5KOSW1187FB35FF4
49,SOBZBAZ12A6D4F8742,Spanish Grease,168.25424,1997,AROUOZZ1187B9ABE51
50,SORRZGD12A6310DBC3,Harajuku Girls,290.55955,2004,ARVBRGZ1187FB4675A
51,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007,ARXR32B1187FB57099
52,SORAMLE12AB017C8B0,Auguri Cha Cha,191.84281,0,ARHHO3O1187B989413
53,SOINLJW12A8C13314C,City Slickers,149.86404,2008,AR8IEZO1187B99055E
54,SOSWKAV12AB018FC91,Midnight Star,335.51628,0,ARULZCI1241B9C8611
55,SOBEBDG12A58A76D60,Kassie Jones,220.78649,0,ARI3BMM1187FB4255E
56,SOHKNRJ12A6701D1F8,Drop of Rain,189.57016,0,AR10USD1187B99F3F1
57,SOQVMXR12A81C21483,Salt In NYC,424.12363,0,ARKULSX1187FB45F84
58,SOSLAVG12A8C13397F,Den Pai Alo,243.82649,0,AROGWRA122988FEE45
59,SOFCHDR12AB01866EF,Living Hell,282.43546,0,AREVWGE1187B9B890A
60,SONSKXP12A8C13A2C9,Native Soul,197.19791,2003,AR0IAWL1187B9A96D0
61,SOIAZJW12AB01853F1,Pink World,269.81832,1984,AR8ZCNI1187B9A069B
62,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969,ARMJAGH1187FB546F3
63,SODAUVL12A8C13D184,Prognosis,363.85914,2000,ARWB3G61187FB49404
64,SOUQQEA12A8C134B1B,High Tide,228.59710,0,ARIG6O41187B988BDD
65,SOGVQGJ12AB017F169,Ten Tonne,337.68444,2005,AR62SOJ1187FB47BB5
66,SOMUYGI12AB0188633,La Culpa,226.35057,0,ARL7K851187B99ACD2
67,SOHUOAP12A8AE488E9,Floating,491.12771,1987,ARD842G1187B997376
68,SOGDBUF12A8C140FAA,Intro,75.67628,2003,AR558FS1187FB45658
69,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0,ARD7TVE1187B99BFB1
70,SOQLGFP12A58A7800E,OAKtown,259.44771,0,ARD7TVE1187B99BFB1